<section class="hero is-link is-medium">
  <div class="hero-body">
    <p class="title">
      Get the best cities to move to based on your salary
    </p>
    <p class="subtitle">
      Enjoy the digital nomad lifestyle 😎
    </p>
    <a class="button is-info is-light" href="/start">Let's go!</a>
  </div>
</section>