<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cost of living calc app</title>
    <link rel="stylesheet" href="css/bulma.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" rel="stylesheet" >
  </head>
  <body>
    <!-- navbar -->
    <%= erb :'navbar' %>
    <!-- //navbar -->

    <div>
      <%= yield %>
    </div>
	<script src="index.js"></script>
  </body>
</html>