<div class="container">
    <h1 class="title">Results</h1>
    <h2 class="title">Can I move to this city?</h2>
    <hr>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Expense Item</th>
            </tr>
        </thead>
        <tbody>
            <% @results['data']['children'].each do |result| %>
                <tr>
                    <td><%= result['data']['body'] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>