<div class="container">
	<h1 class="title">Start here</h1>
	<hr>
	<form action="/results" method="GET">
		<div class="field">
			<label class="label">Country</label>
			<div class="control">
				<input class="input" type="text" name="country" placeholder="Country you'd like to move to">
			</div>
		</div>
		<div class="field">
			<label class="label">City</label>
			<div class="control">
				<input class="input" type="text" name="city" placeholder="City">
			</div>
		</div>
		<div class="field">
			<label class="label">Annual salary</label>
			<div class="control">
				<input class="input" type="text" name="salary" placeholder="How much you earn...enter dollar amount only">
			</div>
		</div>

		<div class="field">
		  <div class="control">
		  	<input type="submit" value="Show me the cities!" class="button is-link" />
		  </div>
		</div>	    
	</form>
</div>